.cache
*.sw[onpq]
compile_commands.json

subprojects/Catch2-*
subprojects/CLI11-*
subprojects/curl-*
subprojects/fmt-*
subprojects/packagecache
subprojects/spdlog-*
subprojects/sqlite-amalgamation-*
subprojects/nlohmann_json-*

install

build*
pyenv*
env*
